
<div class="container-fluid">
<img src="./assests/burger.jpg " class="rounded mx-auto d-block" alt="...">
<h1>Eat da burger
</h1>
<ul>
  {{#each results }}
  {{#unless devoured}}
  <p>
    <form action ="/eatburger" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    {{burger_name}}
<input type="submit" value="eat">
  
    </form>
    
 <p>
  {{/unless}}
  {{/each}}
</ul>



<ul>
  {{#each results }}
  {{#if devoured}}
  <p>

   {{burger_name}}

    
 <p>
  {{/if}}
  {{/each}}
</ul>

<form action ="/addburger" method="POST">
<input type= "text" name="burger" class="" />
<input type="submit"  value="add burger"  />
</form>






<form action ="/resetburger" method="POST">
  
  <button type="submit">reset</button>
</form>
</div>

