
<h1>Add Burger</h1>



<ul>
  {{#each results }}
  {{#unless devoured}}



  <li>
    <form action ="/eatburger" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    {{burger_name}}
<input type="submit" value="eat">
  
    </form>
  </li>
  {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each results }}
  {{#if devoured}}
  <li>

   {{burger_name}}

    
  </li>
  {{/if}}
  {{/each}}
</ul>

<form action ="/addburger" method="POST">
<input type= "text" name="burger" class="" />
<input type="submit"  value="add burger"  />
</form>






<form action ="/resetburger" method="POST">
  
  <button type="submit">reset</button>
</form>

